/*

All site-specific styles go here.

Some rules and guidelines:
	classes are better than IDs
	don't specify font-sizes more than once
	avoid making classes for one rule
	avoid using pixels for font-sizes except on body
	don't abuse less nesting

*/

/*Color Mixins*/
@dark-grey: #221f20;
@light-grey: #58595b;
@salmon: #e73b3a;

/*Typeface Mixins*/
@gear-thin: 'geared_slabthin', serif;
@sans: 'Proxima Nova', sans-serif;
@serif: 'PT Serif', serif;


body {
	font-family: @sans;
	font-size: 14px;
	background-color: @salmon;
	color: #fff;
	transition: all ease-in .1s;
}


#container {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.section {
	width: 100%;
	height: auto;
}

h1 {
	font-family: @gear-thin;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 2.3em;
	letter-spacing: .03em;
	color: #fff;
	text-align: center;
}


/*First Section*/
#one {
	background-image: url('../img/hero_bg.jpg');
	height: auto;
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
	
}

	#hero {
		width: 100%;
		height: auto;
		margin: 0 auto;
		img {
			margin-top: 80px;
			margin-bottom: 70px;
			width: 100%;
			height: auto;
		}
	}

/*Second Section*/
#two {
	background-color: @dark-grey;
	height: auto;
	margin-top: 0;
	h1 {
		margin: 0 auto;
		padding: 40px 6px 37px 6px;
		text-align: center;
	}
}



/*Third Section*/
#three {
	height: auto;
	padding-bottom: 80px;
}

.subwrap {
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
}

/*Text*/
.p_left {
	width: 40%;
	min-width: 250px;
	float: left;
	margin-right: 20px;
	h3 {
		font-family: @gear-thin;
		text-transform: uppercase;
		font-weight: normal;
		color: #fff;
		font-size: 1.8em;
		padding-top: 20px;
	}
	p {
		font-weight: 400;
	}
}

p.identifier {
	font-size: 1.4em;
	font-weight: 700;
	line-height: 1.4em;
}



/*Form*/
.form_right {
	width: 50%;
	min-width: 320px;
	max-width: 600px;
	min-height: 296px;
	float: left;
	padding-top: 50px;
	padding-left: 30px;
	.row {
		margin: 0;
		margin-bottom: 0px;
		width: 100%;
	}
}

form {
	min-width: 280px;
	input, textarea {
		font-family: @sans;
		font-size: 1.3em;
		font-weight: 300;
		color: lighten(@light-grey, 20%);
		height: 30px;
		-webkit-border-radius: 6px;
    	border-radius: 6px;
 		background-clip: padding-box;
 		padding: 2px;
 		padding-left: 8px;
 		border: none;
 		overflow: scroll;
 		transition: all ease-in .1s;
	}
	textarea {
		width: 97%;
		min-height: 120px;
		padding-left: 10px;
		padding-top: 10px;
	}
	textarea:focus, input:focus {
		-moz-box-shadow:    inset 0 0 10px @salmon;
   		-webkit-box-shadow: inset 0 0 10px @salmon;
   		box-shadow:         inset 0 0 10px @salmon;
   		outline: none;
	}
}

input.name {
	width: 40%;
}

input.email {
	width: 55%;
	margin-right: 0;
}

input.phone {
	width: 55%;
}

input.company {
	width: 40%;
}

input.submit {
	margin-top: 10px;
	float: right;
	text-transform: uppercase;
	background-color: @dark-grey;
	color: #fff;
	width: 100px;
	height: 35px;
}

input.submit:hover {
	background-color: lighten(@dark-grey, 10%);
}

input.submit:active {
	background-color: lighten(@dark-grey, 15%);
}

/*Fourth Section*/
#four {
	background-color: none;
	background-image: url('../img/bg2.jpg');
	background-size: cover;
	background-position: fixed;
	background-repeat: no-repeat;
	height: auto;
	margin-bottom: 0;
	padding-bottom: 0;
}

.wrapper {
	width: 80%;
	max-width: 700px;
	height: auto;
	margin: 0 auto;
	padding-top: 20px;
	img {
		margin-top: 50px;
		margin-bottom: 70px;
		height: auto;
		width: 100%;
	}
	h2 {
		font-family: @serif;
		font-style: italic;
		font-weight: 300;
		width: 100%;
		border-bottom: 2px solid #fff;
	}
}

/*Videos*/
#videos {
	width: 48%;
	min-width: 300px;
	margin-right: 4%;
	height: 600px;
	float: left;
	.hero {
		width: 100%;
		height: 200px;
		background-color: #fff;
	}
	.subhero {
		width: 48%;
		background-color: #fff;
		height: 120px;
		float: left;
		margin-top: 14px;
	}

	.subhero.left {
		margin-right: 4%;
	}
}

/*News*/
#news {
	width: 48%;
	min-width: 300px;
	min-height: 500px;
	float: left;
}

a.article {
	font-family: @gear-thin;
	font-size: 1.6em;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	h4 {
		padding-bottom: 20px;
		margin: 0;
	}
	h4:after {
		content: " >>";
	}
}

.first {
	margin-top: 10px;
}


/*"More" Links*/
a.more {
	font-family: @gear-thin;
	font-size: 1.1em;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
	float: left;
	h4:before {
	content: "+";
	float: left;
}
}

a:hover {
	color: @salmon;
	text-decoration: underline;
}



/*Fifth Section*/
#five {
	background-color: @dark-grey;
	height: auto;
	margin-top: -22px;
	padding: 0;
	h1 {
		padding: 30px 6px 27px 6px;
		float: left;
	}
	.wrapper {
		padding: 0;
		width: 90%;
	}
}

.triangle-left {
	.triangle-left(20px);
	position: absolute;
	border-right: 20px solid @light-grey;
	margin-left: -25px;
	margin-top: 30px;
}

.triangle-top {
	display: none;
}

#tweettweet {
	float: left;
	width: 40%;
	max-width: 400px;
	height: auto;
	min-height: 80px;
	padding: 10px 6px 10px 6px;
	margin-top: 20px;
	margin-left: 30px;
	background-color: @light-grey;
	-webkit-border-radius: 10px;
    border-radius: 10px;
 	background-clip: padding-box;
 	display: table;
	h3 {
		font-family: @sans;
		font-weight: normal;
		color: #fff;
		padding-left: 6px;
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}
}



/*Sixth Section*/
#six {
	h1 {
		text-align: left;
	}
	p {
		font-weight: 300;
	}
	.wrapper {
		padding-bottom: 100px;
	}
}





/*Responsive Tweaks*/
@media only screen and (max-width: 780px) {
.form_right {
	padding-left: 0;
}

.form_right, .p_left {
	margin: 0 auto;
}


#videos, #news {
	width: 100%;
}

#videos {
	height: 870px;
	.hero {
		height: 300px;
	}
	.subhero {
		height: 200px;
		margin-top: 20px;
	}
}

#five {
	h1 {
		float: none;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	padding-bottom: 40px;
}

#tweettweet {
	width: 80%;
	float: none;
	margin: 0 auto;
	margin-top: 20px;
}

.triangle-left {
	display: none;
}

.triangle-up {
	.triangle-up(20px);
	position: absolute;
	border-top: 20px solid @light-grey;
	margin: 0 auto;
	margin-top: -25px;
	display: table-cell;
}
}